    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 SkillSwap.</p>
        </div>
    </footer>
    <script src="/js/skillClass.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>